<% if object.errors.any? %>
  <div id="error_explanation">
    <p class="red-text"><%= pluralize(object.errors.count, "error") %> prohibited this match from being saved:</p>

    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
