<% if matches.present? %>
  <table>
    <thead>
      <tr>
        <th>Player one</th>
        <th>Player two</th>
        <th>Start date</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% matches.each do |match| %>
        <tr>
          <td><%= match.player_one_id %></td>
          <td><%= match.player_two_id %></td>
          <td><%= match.created_at %></td>
          <td>(<%= link_to("Show", match_path(match)) %>)</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No matches yet...</p>
<% end %>
