<h1>Completed Matches</h1>
<%= render "list", matches: @confirmed_matches %>

<h1>Unconfirmed Matches</h1>
<%= render "list", matches: @unconfirmed_matches %>

<br>

<%= link_to 'New Match', new_match_path %>
