<div class="row">
  <div class="six columns">
    <h4>Unconfirmed Matches</h4>
    <%= render "list", matches: @unconfirmed_matches %>
  </div>

  <div class="six columns">
    <h4>Completed Matches</h4>
    <%= render "list", matches: @confirmed_matches %>
  </div>
</div>
