<div class="row">
  <div class="six columns">
    <h4 class="m-0">Unconfirmed Matches</h4>
    <p>User marked with ❌ needs to confirm the match.</p>
    <%= render "list", matches: @unconfirmed_matches, extra_info_type: :unconfirmed %>
  </div>

  <div class="six columns">
    <h4 class="m-0">Completed Matches</h4>
    <p>Matches that have been confirmed and elo applied.</p>
    <%= render "list", matches: @confirmed_matches, extra_info_type: :elo_delta %>
    <%= paginate @confirmed_matches %>
  </div>
</div>
