<p>
  <strong>Player one:</strong>
  <%= @match.player_one_id %>
</p>

<p>
  <strong>Player two:</strong>
  <%= @match.player_two_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @match.created_at %>
</p>

<%= link_to 'Back', matches_path %>
