body {
  font-family: 'IBM Plex Mono', monospace;
  padding-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.1em 0;
}

.logo {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-links {

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flash-messages {
  display: flex;
  justify-content: center;
}

.field {
  margin: 1.5em 0;
}
