body {
  font-family: 'IBM Plex Mono', monospace;
  padding-top: 1em;
}

th, td {
  padding: 6px 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.center-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;

  a {
    margin: 0 3px;
  }
}

@media (min-width: 550px) {
  .header-links {
    padding-left: 0;
  }
}



.inline-elements {
  display: flex;
}

.header {

  .logo {
    margin: 10px;
  }
}

.alerts {
  justify-content: center;

  p {
    margin: 10px 0;
    font-size: 13px;
    border-radius: 5px;
    padding: 10px 25px;
    text-align: center;
  }

  .notice {
    border: 2px solid #00c906;
  }

  .alert {
    border: 2px solid #f50400;
  }
}

.text-center { text-align: center; }

.green-text { color: #00c906 }
.red-text { color: #f50400 }

.user-form {
  min-width: 300px;
  max-width: 300px;
}

.match-form {
  min-width: 400px;
  max-width: 400px;
}

.small-button {
  padding: 0 15px;
}

.mt-20 { margin-top:    20px; }
.mr-20 { margin-right:  20px; }
.mb-20 { margin-bottom: 20px; }
.ml-20 { margin-left:   20px; }
.m-0 { margin: 0; }
